* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: "montserrat alternates";
}

main {
  width: 80%;
  height: 100vh;
  margin: auto;

  .feature {
    width: 100%;
    height: 40%;
    margin: 7% 5%;
    display: flex;
    flex-direction: row;

    img {
      height: 75%;
      border-radius: 10%;
    }

    div {
      margin: 0 2%;

      p {
        margin-top: 2%;
      }

      .btn1 {
        float: right;
        margin-top: 2%;
      }
    }
  }
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.contact {
  background-color: rgb(111, 107, 107);
  color: white;
  width: 30%;
  padding: 50px 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h2 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  label {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      padding: 10px;
      height: 50px;
      margin-bottom: 5px;

      &::placeholder {
        font-family: inherit;
      }
    }
  }
}

.submit {
  width: 170px;
  color: grey;
}

nav {
  height: 70px;
  width: 100%;
  background-color: rgb(111, 107, 107);

  img {
    height: 70px;
  }

  ul {
    float: right;
    margin-right: 20px;

    li {
      display: inline-block;
      line-height: 70px;
      margin: 0 7px;

      a {
        color: white;
        font-size: 20px;
        padding: 6px 13px;
        border-radius: 3px;
      }

      a.active,
      a:hover {
        background: #1B9FFF;
        transition: 0.3s;
      }
    }
  }
}