* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
}

.contact {
  background-color: rgb(111, 107, 107);
  color: white;
  width: 30%;
  padding: 50px 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h2 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 2rem;
  }

  label {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      padding: 10px;
      height: 50px;
      margin-bottom: 5px;

      &::placeholder {
        font-family: inherit;
      }
    }
  }
}

.submit {
  width: 170px;
  color: grey;
}